body{
background-color: #fbde7e;
background-image: linear-gradient(87deg, #ffe9fe 0%, #ffedbf 100%);

}

.container{
	padding-top: 50px;
	padding-bottom: 50px;
	width: 90%;
	margin: auto;
	margin-top: 5%;
	background-color: #ffffff;
}

.article{
	width: 100%;
	padding-bottom: 50px;
}

.article_title{
	font-weight: bold;
}

.article_print{
	word-break:break-all;
}

a{
	color: black;
}

#fa{
	color: LightGrey
}