body{
	background-color: #ffffff;
	font-family: 'Montserrat', sans-serif;
}

.container{
	padding-top: 50px;
	padding-bottom: 50px;
	width: 90%;
	margin: auto;
	margin-top: 3.5%;
	background-color: #ffffff;
}

.article{
	width: 100%;
	padding-bottom: 50px;
}

.article_title{
	font-weight: bold;
}

.article_print{
	word-break:break-all;
}

a{
	color: black;
}

#fa{
	color: LightGrey
}