body{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%,
								rgba(121,9,90,1) 42%,
								rgba(255,51,0,0.829551889115021) 70%,
								rgba(1,0,1,1) 100%);
}

.container{
	padding-top: 50px;
	padding-bottom: 50px;
	width: 90%;
	margin: auto;
	margin-top: 5%;
	background-color: #ffffff;
}

.article{
	width: 100%;
	padding-bottom: 50px;
}

.article_title{
	font-weight: bold;
}

.article_print{
	word-break:break-all;
}

a{
	color: black;
}

#fa{
	color: LightGrey
}